@model HospitalManagement.Models.Doctor

@{
    ViewData["Title"] = "Delete Doctor";
}

<h2>Delete Doctor</h2>

<p>Are you sure you want to delete this doctor from list?</p>

<div>
    <strong>Doctor First Name:</strong> @Model.FirstName<br />
    <strong>Doctor LastName:</strong> @Model.LastName<br />
</div>

<!-- Trigger button to open the modal -->
<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
    Yes, Delete
</button>
<a asp-action="Index" class="btn btn-secondary">Cancel</a>

<!-- Modal Dialog Box -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this department?</p>
                <ul>
                    <li><strong>Doctor First Name:</strong> @Model.FirstName</li>
                    <li><strong>Doctot Last Name:</strong> @Model.LastName</li>
                </ul>
            </div>
            <div class="modal-footer">
                <form asp-action="DeleteConfirmed" method="post">
                    <input type="hidden" name="id" value="@Model.DoctorId" />
                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
